.navbar{
    margin: 0px;
    padding: 0px;
}

.container-fluid{
    background-color: #b3b3b3;
}

.simple-header{
    color: #f1f1f1;
    font-weight: bold;
    font-style: revert;
    margin-top: 6px;
    font-size: 50px;
}

.ul-content{
     display: flex; 
     flex-direction: row;
}

/* big landscap tablets, laptops, and desktop */

@media only screen and (min-width: 1200px){
    .simple-header{
        font-size: 40px;
        width: 1000px;
    }
}


/* tablets, landscape, low resolution laptop and desktop */

@media only screen and (max-width: 990px){
    .simple-header{
        font-size: 25px;
        width: 900px;
    }
}


/* portrait tablet, e-readers kindle, */

@media only screen and (min-width: 800px){
    .simple-header{
        font-size: 20px;
        width: 800px;

    }
}


/* smartpones, android phones, landscape Iphone */

@media only screen and (min-width: 600px){
    .simple-header{
        font-size: 15px;
        width: 700px;

    }
}


/* smartphones, portrait iphone, portrait 480*320 phones (Android) */

@media only screen and (min-width: 480px){
    .simple-header{
        font-size: 35px;
        width: 800px;


    }
}


