.home-head {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.headerContainer {
  background-color: #b3b3b3;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-top: 10px;
  border-radius: 10px;
  width: 70%;
  max-width: 100%;
  box-shadow: rgb(179 179 179) 0px 1px 20px 0px;
}

.items-header-container {
  background-color: #b3b3b3;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  max-width: 50%;
  margin-top: 10px;
  box-shadow: rgb(179 179 179) 0px 1px 20px 0px;
  height: 80px;
}

.items-header {
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-style: revert;
  padding-top: 10px;
}

.card-container {
  width: 50%;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 20px !important;
  margin-left: 25px;
  margin-top: 20px;
  padding-bottom: 20px;
  box-shadow: rgb(179 179 179) 0px 1px 20px 0px;
}

/* big landscap tablets, laptops, and desktop */

@media only screen and (min-width: 1200px) {
  .home-head {
    font-size: 20px;
  }
  .headerContainer {
    background-color: #b3b3b3;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 10px;
    width: 70%;
    max-width: 100%;
    box-shadow: rgb(179 179 179) 0px 1px 20px 0px;
  }

  .items-header {
    font-size: 25px;
  }

  .items-header-container {
    background-color: #b3b3b3;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    box-shadow: rgb(179 179 179) 0px 1px 20px 0px;
    max-height: 90px;
  }

  .card-container {
    width: 40%;
  }
}

/* tablets, landscape, low resolution laptop and desktop */

@media only screen and (max-width: 990px) {
  .home-head {
    font-size: 25px;
  }
  .headerContainer {
    background-color: #b3b3b3;
    margin-top: 10px;
    padding-top: 10px;
    width: 70%;
  }

  .items-header {
    font-size: 20px;
  }

  .items-header-container {
    background-color: #b3b3b3;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    box-shadow: rgb(179 179 179) 0px 1px 20px 0px;
    max-height: 90px;
  }
  .card-container {
    width: 60%;
  }
}

/* portrait tablet, e-readers kindle, */

@media only screen and (max-width: 800px) {
  .home-head {
    font-size: 25px;
  }
  .headerContainer {
    background-color: #b3b3b3;
    margin-top: 10px;
    padding-top: 10px;
    width: 70%;
  }
  .items-header {
    font-size: 18px;
  }

  .items-header-container {
    background-color: #b3b3b3;
    display: flex;
    justify-content: center;
    padding: 10;
    border-radius: 10;
    width: 100%;
    margin-top: 10px;
    box-shadow: rgb(179 179 179) 0px 1px 20px 0px;
    max-height: 90px;
  }

  .card-container {
    width: 70%;
  }
}

/* smartpones, android phones, landscape Iphone */

@media only screen and (max-width: 600px) {
  .home-head {
    font-size: 25px;
  }
  .headerContainer {
    background-color: #b3b3b3;
    margin-top: 10px;
    padding-top: 10px;
    width: 70%;
  }
  .items-header {
    font-size: 15px;
  }
  .items-header-container {
    background-color: #b3b3b3;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    box-shadow: rgb(179 179 179) 0px 1px 20px 0px;
    max-height: 90px;
  }

  .card-container {
    width: 80%;
  }
}

/* smartphones, portrait iphone, portrait 480*320 phones (Android) */

@media only screen and (max-width: 480px) {
  .home-head {
    font-size: 15px;
  }
  .headerContainer {
    background-color: #b3b3b3;
    margin-top: 10px;
    padding-top: 10px;
    width: 70%;
  }
  .items-header {
    font-size: 12px;
  }

  .items-header-container {
    background-color: #b3b3b3;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    width: 150%;
    margin-top: 10px;
    box-shadow: rgb(179 179 179) 0px 1px 20px 0px;
    max-height: 90px;
  }

  .card-container {
    width: 100%;
  }
}
